@keyframes go{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

h1 {
    color:rgb(177, 255, 103);
    font-size: 50px;
}


img {
    /* width: 300px; */
}


body {
    background-color: rgb(67, 20, 111);
}

.earth {
     width: 300px;
     /* transform: rotate(45deg) */
     animation-name: go;
     animation-iteration-count: inherit;
     animation-timing-function: ease;
}

